header{
  display: flex;
}

#topBar{
  flex-grow: 1;
  text-align: center;
}

#themeSwitcher{
  flex-grow: 0;
}

.light{
  color: white;
}

.dark{
  color: black;

}

.light-bg{
  background-color: white;

}

.dark-bg{
  background-color: black;

}